* {
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  outline:none;
  text-decoration:none;
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
}
  
ol, ul, li {
  list-style:none;
  display:block;
}
  
table {
  border-collapse: collapse;
  border-spacing:0;
}
  
a, img {
  border: none;
}
  
button, a {
  cursor: pointer;
  color: inherit;
}
  
textarea {
  resize: none;
}
  
button, input, textarea, select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}
  
body {
  font-family: 'Overpass', sans-serif;

  background-color: #93bcdd;
}

.allDivs {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;

  background-color: bisque;
}

.leftDivs {
  left: 0;
  animation: leftAnim 1.7s ease-in-out forwards infinite alternate;
}

.rightDivs {
  right: 0;
  animation: rightAnim 1.7s ease-in-out forwards infinite alternate;
}

#div1 {
  top: 0;
  background-color: #a385f7;
  animation: div1Anim 1.4s ease-in-out infinite alternate;
}

@keyframes div1Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateY(85vh);
    background-color: orangered;
  }

  100% {
    transform: translateX(75vw);
  }
}

#div2 {
  top: 10vh;
  background-color: #84eb1e;
  animation-delay: 1s;
}

#div3 {
  top: 20vh;
  background-color: #f7a13f; 
  animation-delay: 0.5s;  
}
  
@keyframes leftAnim {
    0% {
      transform: translateX(0);
    }
    
    20% {
      background-color: #df133C;
    }
  
    40%{
      background-color: #84eb1e;
    }

    60% {
      background-color: #18c9e0;
    }
  
    80%{
      background-color: #f7a13f;
    }
    
    100% {
      transform: translateX(95vw);
      background-color: #db2eca;
    }
}

#div4 {
  top: 30vh;
  background-color: #db2eca;
  animation-delay: 0.25s;
}


#div5 {
  top: 40vh;
  background-color: #58d60f;
  animation-delay: 0.75s;
}

#div6 {
  top: 50vh;
  background-color: #18c9e0;
  animation-delay: 0.1s;
}

#div7 {
  top: 60vh;
  background-color: #f837cb;
  animation-delay: 0.4s;
}

#div8 {
  top: 70vh;
  background-color: #facf5b;
  animation-delay: 0.7s;
}

#div9 {
  top: 80vh;
  background-color: #3bf7c2;
  animation-delay: 0.85s;
}

#div10 {
  top: 90vh;
  background-color: #df133C;
  animation: div10Anim 1.4s ease-in-out infinite alternate 1s;
}

@keyframes div10Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(200vh);
    background-color: orangered;
  }

  66% {
    transform: translateY(-45vh);
  }

  100% {
    transform: translateX(75vh);
  }
}

#div11 {
  top: 0;
  right: 0;
  background-color: #df133C;
  animation: child9Anim 1.4s ease-in-out infinite alternate;
}

@keyframes child9Anim {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateY(85vh);
    background-color: red;
  }

  66% {
    background-color: royalblue;
  }

  100% {
    transform: translateX(-75vh);
  }
}
  
#div12 {
  top: 10vh;
  background-color: #3bf7c2;
  animation-delay: 0.85s;
  }

#div13 {
  top: 20vh;
  background-color: #facf5b;
  animation-delay: 0.7s;
}

#div14 {
  top: 30vh;
  background-color: #f837cb;
  animation-delay: 0.4s;
}

#div15 {
  top: 40vh;
  background-color: #18c9e0;
  animation-delay: 0.1s;
}

#div16 {
  top: 50vh;
  background-color: #58d60f;
  animation-delay: 0.75s;
}

#div17 {
  top: 60vh;
  background-color: #db2eca;
  animation-delay: 0.25s;
}

#div18 {
  top: 70vh;
  background-color: #f7a13f;
  animation-delay: 0.5s; 
}

#div19 {
  top: 80vh;
  background-color: #84eb1e;
  animation-delay: 1s;
}

#div20 {
  top: 90vh;
  right: 0;
  background-color: #a385f7;
  animation: div20Anim 1.4s ease-in-out infinite alternate 1s;
}

@keyframes div20Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateY(-70vh);
    background-color: orangered;
  }

  100% {
    transform: translateX(-75vw);
  }
}

@keyframes rightAnim {
  0% {
    transform: translateX(0);
  }

  20% {
    background-color: #f837cb;
  }
    
  33% {
      background-color: #f7a13f;
  }

  50% {
    background-color: #a385f7;
  }

  75% {
    background-color: #84eb1e;
  }
    
  100% {
    transform: translateX(-95vw);
  }
}

#div21 {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #58d60f;
  transform: translate(-50%, -50%);
}

#div21:hover {
  animation: div21Anim 2s infinite;
}

@keyframes div21Anim {
  50% {
    width: 20vh;
    height: 20vh;
    transform: rotate(180deg);
    transform-origin: top left;
    border-color: #84eb1e;
    border-radius: 0%;
    background-color: #db2eca;
  }
}

.allDivs:hover {
  animation: none;
}